		<!-- 通过common。js中的getHeader方法统一渲染头部 -->
	<a href="index.html"><label style="cursor: pointer"></label></a>
	<div class='userMenu'>
		<label>广西-南宁</label>
		<ul>
			<li><a href="login.html">你好，请登录</a></li>
			<li><a href="userinfo.html">个人中心</a></li>
			<li>我的订单</li>
			<li>我的京东</li>
			<li>京东会员</li>
			<li>企业采购</li>
			<li>客服服务</li>
			<li>网站导航</li>
			<li style="border:0;">手机京东</li>
		</ul>
	</div>
	<div class='searchDiv'>
		<input type='text' id='inTxt' class='inTxt' value='点我试试' />
		<input type='button' class='inButton'  />
	</div>
	<a href="cart.html"><div class='myShopBtn'>
		我的购物车
		<i>0</i>
	</div></a>
	<div class='rightCode'></div>
	<div class='topNav'>
		<ul id='topNavUlId'></ul>
	</div>
